body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Arial, sans-serif;
    }
div.container {
	max-width: 1000px;
	margin: 30px auto;
  margin-top: 30px;
}
.filters {
    display: flex;
    justify-content: space-between;
    padding: 0;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 100%;
    position: relative;
    

  }
  
  .amenities {
    border-left: 1px solid #DDDDDD;
    padding-left: 20px;
    height: 100%;
    margin: 0;
  }
  .locations{
    padding-left: 20px;
    margin: 0;
  }
  .locations, .amenities {
    cursor: pointer;    
    position: relative;
    width: 25%;
    float: left;
    box-sizing: border-box;
    margin: 0;
    
   }

  .locations,
.amenities {
    cursor: pointer;
    position: relative;
    width: 25%;
    float: left;
    box-sizing: border-box;
}
   
  
  .popover {
    position: absolute; 
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 0;
    display: none;
    margin: 0;
  }
    
  .popover ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .popover ul li {
    padding: 8px 16px;
  }
  
  .locations:hover .popover, .amenities:hover .popover {
    display: block;
    position: absolute;
    box-sizing: border-box;
  }
  
  button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin: auto 30px;
}
button:hover {
    opacity: 0.9;
}
